<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blockchain Voting App</title>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="cont_principal">
  <div class="cont_centrar_dashboard">
  	
  	<div id="real_time_voting">  		
  	</div>
  	<div id="user_information">
  		<p style="margin-top: 50px;"><u>Your Information</u></p><br>
  		<p>Full Name: <%= @user.full_name %></p>
  		<p>Adhaar: <%= @user.adhaar %></p>
  		<form action="/logout" method="post" onsubmit="return formValidation();">
	  	 	<button id="logout_btn" onclick="submit();">Logout</button>
	  	</form>
  	</div>
  	<div id="voting_history">
  		<p>
  	</div>

  </div>
  </div>
</body>
</html>