<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blockchain Voting App</title>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="cont_principal">
  <div class="cont_centrar_dashboard">
  	
  	<div id="real_time_voting">

  	</div>
  	<div id="user_information">
  		<p style="margin-top: 15px;"><u>Profile Information</u></p><br>
  		<p>Full Name: <%= @user.full_name %></p>
  		<p>Adhaar: <%= @user.adhaar %></p>

      <div id="profile_btns">
        <form action="/logout" method="post">
          <button id="logout_btn" onclick="submit();">Logout</button>        
        </form>
        <form action="/profile">
          <button id="profile_edit_btn">Edit Profile</button>     
        </form>
      </div>

  	</div>
  	<div id="voting_history_div">
      <% if 2+2 == 4%>
  		<p style="margin-top: 70px;text-align:center;">You have not casted any vote yet.</p><br>
        <a href="/vote" target="_parent"><button id="vote_now_btn" onclick="#">Vote Now!!</button></p>
      <% else %>
       <p style="margin-top: 10px;text-align:center;">Your Voting History</p><br>
        <ul id="vote_casting_list">
          <li><span class="leader_name">SpiderMan</span><span class="time_voted">10 April,18 12:02</span></li>
          <li><span class="leader_name">Hulk</span><span class="time_voted">10 April,18 10:02</span></li>
          <li><span class="leader_name">Captain America</span><span class="time_voted">9 April,18 20:02</span></li>
          <li><span class="leader_name">Iron Man1</span><span class="time_voted">8 April,18 12:02</span></li>
          <li><span class="leader_name">Iron Man2</span><span class="time_voted">8 April,18 07:02</span></li>
          <li><span class="leader_name">Iron Man3</span><span class="time_voted">28 March,18 08:02</span></li>
          <li><span class="leader_name">Iron Man4</span><span class="time_voted">20 March,18 11:02</span></li>
          <li><span class="leader_name">Iron Man5</span><span class="time_voted">2 March,18 07:02</span></li>
        </ul>
        <button id="update_vote_btn" onclick="#">Update Your Vote</button>
      <% end %>
  	</div>

  </div>
  </div>
</body>
</html>