<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Blockchain Voting App</title>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="cont_principal">
  <div class="cont_centrar_dashboard" style="background: #fbd9d7">
  	Name
    Email
    Adhaar
    Area
    Dob
    Contact
    Password
    Encrypted Key    
    Renter Encrypted Key    
  </div>
  </div>
</body>
</html>
